.item {
  width: 400px;
  height: 200px;
  border: 1px solid bisque;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  &:hover{
    border-color: red;
  }
  
  & > span {
    display: block;
  }

  &__name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__price {
    font-size: 17px;
    font-weight: 400;
  }
  .add_button {
    outline: none;
    border: none;
    background-color: rgb(229, 220, 243);
    padding: 5px;
    width: 100%;

    &:hover{
        cursor: pointer;
        background-color: rgb(183, 201, 195);
    }
  }

/*   .bt_minus {
    display: inline;
    justify-content: space-around;
  }

  .input {
    display: inline;
    justify-content: space-around;
  }

  .bt_plus {
    display: inline;
    justify-content: space-around;
  } */
}
